@import "tailwindcss";

:root {
  --bg: #EFF4FF;
  --card: #FFFFFF;
  --text: #000000;
  --text-light: #3d3d3d;
  --dominant: #006A62;
  --dominant-alt: #014b45;
  --secondary: #1B2B3A;
}

.dark {
  --bg: #111317;
  --card: #1E1F29;
  --text: #FFFFFF;
  --text-light: #c2c2c2;
  --dominant: #006A62;
  --dominant-alt: #0e6b63;
  --secondary: #1B2B3A;
}